@import "materialize-color.css";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'robotoFont';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
}
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: 'robotoFont', sans-serif;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
html,
body {
  width: 100%;
}
body {
  margin: 0;
}
body .ctn {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.logMsg {
  background: #DFDFDF;
}
#cipDebug {
  position: absolute;
  width: 250px;
  background: #aeaeae;
  padding: 5px;
  text-align: center;
  bottom: 0;
  right: 0;
}
nav.top-nav a {
  text-align: center;
  display: block;
}
.cipCarousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.cipCarousel .wrapper {
  overflow: hidden;
  position: relative;
  height: 335px;
  margin-bottom: 10px;
}
.cipCarousel .cp-item {
  -ms-touch-action: none;
  width: 100%;
  height: 335px;
  float: left;
  position: absolute;
  padding: 5px;
  cursor: all-scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cipCarousel .cp-item h3,
.cipCarousel .cp-item .description {
  display: none;
}
.cipCarousel .cp-item .content {
  position: relative;
  margin: 0 auto;
  width: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cipCarousel .cp-item.active {
  z-index: 5;
  left: 0;
}
.cipCarousel .cp-item.ready-right {
  z-index: 1;
}
.cipCarousel .cp-item.ready-left {
  z-index: 1;
}
.cipCarousel .cp-item.anim {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.cipCarousel .cp-item.cp-item-0 {
  background-color: #b2e1ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2e1ff), to(#66b6fc));
  background: -webkit-linear-gradient(top, #b2e1ff, #66b6fc);
  background: -moz-linear-gradient(top, #b2e1ff, #66b6fc);
  background: -ms-linear-gradient(top, #b2e1ff, #66b6fc);
  background: -o-linear-gradient(top, #b2e1ff, #66b6fc);
}
.cipCarousel .cp-item.cp-item-1 {
  background-color: #a9db80;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
  background: -webkit-linear-gradient(top, #a9db80, #96c56f);
  background: -moz-linear-gradient(top, #a9db80, #96c56f);
  background: -ms-linear-gradient(top, #a9db80, #96c56f);
  background: -o-linear-gradient(top, #a9db80, #96c56f);
}
.cipCarousel .cp-item.cp-item-2 {
  background-color: #ffaf4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaf4b), to(#ff920a));
  background: -webkit-linear-gradient(top, #ffaf4b, #ff920a);
  background: -moz-linear-gradient(top, #ffaf4b, #ff920a);
  background: -ms-linear-gradient(top, #ffaf4b, #ff920a);
  background: -o-linear-gradient(top, #ffaf4b, #ff920a);
}
.cipCarousel .cp-item.cp-item-3 {
  background-color: #fb83fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb83fa), to(#e93cec));
  background: -webkit-linear-gradient(top, #fb83fa, #e93cec);
  background: -moz-linear-gradient(top, #fb83fa, #e93cec);
  background: -ms-linear-gradient(top, #fb83fa, #e93cec);
  background: -o-linear-gradient(top, #fb83fa, #e93cec);
}
.cipCarousel .cp-item.cp-item-4 {
  background-color: #a7cfdf;
  background: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background: -o-linear-gradient(top, #a7cfdf, #23538a);
}
.cipCarousel .spinner {
  margin: auto 0;
  width: 100%;
  text-align: center;
}
.cipCarousel .spinner > div {
  width: 5px;
  height: 5px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cipCarousel .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.cipCarousel .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.cipCarousel .navigation {
  position: relative;
  text-align: center;
}
.cipCarousel .navigation a + a {
  margin-left: 5px;
}
.cipCarousel .navigation a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #E4E4E4;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
.cipCarousel .navigation a:hover {
  background: #aeaeae;
}
.cipCarousel .navigation a.active {
  background: #aeaeae;
}
.cipCarousel .arrow {
  position: absolute;
  font-size: 10em;
  top: 36%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cipCarousel .arrow.left {
  left: 1%;
}
.cipCarousel .arrow.left.disabled {
  color: #E4E4E4;
}
.cipCarousel .arrow.right {
  right: 1%;
}
.cipCarousel .arrow.right.disabled {
  color: #E4E4E4;
}
